@media (max-width: 1024px){

   
}
@media (max-width: 767px){
    



    header{
        display: block;
        height: auto;
    }
    header ul{
        display: block;
    }
    header nav{
        display: block;
        text-align: center;
    }
    header li{
        padding: 50px;
    }




    .hero .container{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    


    .project{
        display: block;
    }
    .project-image{
        width:auto;
    }
    
    .project-details{
        width: auto;
    }
    .project-title{
        font-size: 1.8em;
        margin-top: 0.3em;
    }
    .project-cours{
        font-size: 1.5em;
    }
    .project-date{
        font-size: 1em;
    }
    .project-url{
        font-size: 0.8em;
    }
    .project-description{
        font-size: 1em;
    }
    .project-course, .project-date, .project-url{
        margin: .5em 0;
    }


    .event{
        width: auto;
    }
    
   
    
    .form-email button {
        margin: 30px auto;
    }
}



@media (max-width: 480px){
    .container{
        justify-content: center;
    }
    .project-details{
        font-size: 12px;
    }
    .social a{
        padding: 10px;
    }
    .event-details {
        margin: -3em .7em .7em;
        padding: 1em;
    }
    footer{
    }
   
}

@media (max-width: 320px){
    .project-details{
        font-size: 10px;
    }
   
}