@media (max-width: 1024px){

   
}
@media (max-width: 767px){
    .burger-menu {
        display: block;
    }
    .menu{
        position: fixed;
        background-color:rgba(0, 92, 151, .85);
        z-index: 3;
        top: 0;
        left: 100vw;
        width: 100vw;
        height: 100vh;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all cubic-bezier(0.23, 1, 0.320, 1);
    }   
    .menu.is-active{
        left: 0;
    }
    header a{
        justify-content: center;
        height: 40px;
        font-size: 1.5em;
        
    }
    header h1{
        text-align: center;
        font-size: 1.5em;
    }

    header{
        display: block;
        height: auto;
        padding: 1px;
    }
    header ul{
        display: block;
        margin: 0;
        padding: 0;
    }
    header nav{
        display: block;
        text-align: center;
    }
    header li{
        padding: 50px;
    }

    h2{
        font-size: 1.3em;
    }


    .hero .container{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: flex-end;
    }
    .hero{
        height: 400px;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .hero img{
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
       /*  object-position: center 35%; */
        width: 100%;
        filter: opacity(0.65);
    }
    .hero h1{
        font-size: 1.56m;
        z-index: 2;
        background: rgba(0, 0, 0, .3);
    }


    .project{
        display: block;
    }
    .project-image{
        width:auto;
    }
    
    .project-details{
        width: auto;
    }
    .project-title{
        font-size: 1.8em;
        margin-top: 0.3em;
    }
    .project-cours{
        font-size: 1.5em;
    }
    .project-date{
        font-size: 1em;
    }
    .project-url{
        font-size: 0.8em;
    }
    .project-description{
        font-size: 1em;
    }
    .project-course, .project-date, .project-url{
        margin: .5em 0;
    }


    .event{
        width: auto;
    }
    
   
    
    .form-email button {
        margin: 30px auto;
    }
}



@media (max-width: 480px){
    .container{
        justify-content: center;
    }
    .project-details{
        font-size: 12px;
    }
    .social{
        margin-bottom: 20px;
    }
    .social a{
        padding: 10px;
    }
    .event-details {
        margin: -3em .7em .7em;
        padding: 1em;
    }
    .hero h1{
        font-size: 1.2em;
    }
    .hero{
        height: 250px;
    }
    h2{
        font-size: 1.2em;
    }
}

@media (max-width: 320px){
    .project-details{
        font-size: 10px;
    }
    .hero h1{
        font-size: 1em;
    }
    .hero{
        height: 170px;
    }
    h2{
        font-size: 1em;
    }
}