body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: sans-serif;
}

section{
    
}
.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    flex-wrap: inherit;
}
figure{
    margin: 0;
    padding: 0;
}

/*+++++++++++++++ Header +++++++*/
header{
    height: 80px;
    background-color: #141414;
    display:flex;
    justify-content: center; 
}
nav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
}
li{
    padding: 20px;
    position: relative;
}
li::before{
    content: '';
    position: absolute;
    background-color: white;
    width: 0%;
    height: 1px;
    bottom: 10px;
    left: 10px;
}
li:hover::before{
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 90%;
}
nav li a{
    text-decoration: none;
    color: white;
    display: inline-block;
}
nav li:hover a{
    transform: translateY(-2px);
}
nav li a:active{
    transform: translateY(2px);
}

/*+++++++++++++++ Fin Header +++++++*/

/*+++++++++++++++ Hero +++++++*/
.hero{
    background-color: #141414;
    color: white;
    display: flex;
    justify-content: center;
}
.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero h1{
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 1.5;
    margin: 0;
}
.hero strong{
    color: #005C97;
}
.hero .container img{
    border-radius: 3px 3px 0 0;
}
/*+++++++++++++++ Fin Hero +++++++*/


/*+++++++++++++++ Porfolio +++++++*/
.porfolio h2{
    color: #005C97;
    text-transform: uppercase;
    padding: 20px 0 20px 0;
}
.porfolio article{
    border: 1px solid #141414;
    border-radius: 10px;
}

.project{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 15px;
}
.project strong{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 800;
}
.project-title{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0;
    letter-spacing: -2px;
}
.project-course, .project-date, .project-url{
    margin: 10px 0;
}
.project-description{
    font-size: 20px;
}
/*+++++++++++++++ Fin Porfolio +++++++*/


/*+++++++++++++++ Experiencia +++++++*/

.event-list-title{
    padding: 20px;
    text-transform: uppercase;
    color: #005C97; 
}
.eventos {
    display: flex;
    flex-wrap: wrap;    
}
.event{
    width: 480px;
    background-color: rgb(244, 246, 247);
    margin: 1%;
    border-radius: 10px;
}
.event figure img{
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}
.event-details{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}
/*+++++++++++++++ Fin Experiencia +++++++*/
